.App {
  text-align: center;
}
.title{
  text-align: center;
}

.Menu{
  text-align: center;
  align-items: center;
  display: center;
}
.NewItem{
  width:100%;
background-color:rgba(0, 255, 149, 0.684);
padding-left: 400px;

}

  